{% load static %}
{% load django_browser_reload %}
<!DOCTYPE html>
<html lang="en-US">
<head>
  {% include "includes/meta.html" %}
  {% include "includes/styles.html" %}
  {% include "includes/header.html" %}
  {% block extra_head %}{% endblock %}
</head>
<body>
  {% include "includes/menu-mobile.html" %}
  {% include "includes/menu-top-bar.html" %}
  
  <main id="content">
    {% block content %}{% endblock %}
  </main>
  

  {% include "includes/scripts_footer.html" %}
  {% block extra_js %}{% endblock %}
  {% django_browser_reload_script %}
</body>
</html>