{% load static i18n %}
<!DOCTYPE html>
<html lang="en-US">
<head>
  {% include "includes/meta.html" %}
  {% include "includes/styles.html" %}
  {% include "includes/header.html" %}
  {% block extra_head %}{% endblock %}
</head>
<body>
  {% include "includes/menu-desktop-any.html" %}
  {% include "includes/menu-mobile-any.html" %}
  
  <main id="content2">
    {% block content %}{% endblock %}
  </main>
  
  {% include "includes/footer4.html" %}
  {% include "includes/scripts_footer.html" %}
  {% block extra_js %}{% endblock %}
</body>
</html>