{% load static i18n snippets %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  {% include "includes/meta.html" %}
  {% include "includes/styles.html" %}
  {% include "includes/header.html" %}
  {% block extra_head %}{% endblock %}
</head>
<body>
  {% include "includes/menu-desktop-any.html" %}
  {% include "includes/menu-mobile.html" %}
  
  <main id="content">
    {% block content %}{% endblock %}
  </main>
  
  {% include "includes/footer.html" %}
  {% include "includes/scripts_footer_any.html" %}
  {% block extra_js %}{% endblock %}
</body>
</html>