{% load static i18n snippets %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  {% render_snippets 'head_start' %}
  {% include "includes/meta.html" %}
  {% include "includes/styles.html" %}
  {% render_snippets 'head_end' %}
</head>
<body>
{% render_snippets 'body_start' %}
{% include "includes/menu-mobile.html" %}

<main id="content">
  {% block content %}{% endblock %}
</main>

{% include "includes/footer4.html" %}
{% include "includes/modals.html" %}
{% include "includes/scripts_footer.html" %}
{% render_snippets 'body_end' %}
{% block extra_js %}
<script src="{% static 'js/favorites.js' %}"></script>
<script src="{% static 'js/compare.js' %}"></script>
{% endblock %}
</body>
</html>