{% load static %}
<!DOCTYPE html>
<html lang="en-US"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
  {% include "includes/meta.html" %}
  {% include "includes/styles.html" %}
  {% block extra_head %}{% endblock %}
</head>
<body>
  {% include "includes/header.html" %}
  <main id="content">
    {% block content %}{% endblock %}
  </main>
  {% include "includes/footer.html" %}
  {% include "includes/scripts.html" %}
  {% block extra_js %}{% endblock %}
</body>
</html>
