{% extends "base/base.html" %}
{% load static %}
{% block content %}

<body class="home wp-singular page-template page-template-elementor_header_footer page page-id-541 custom-background wp-custom-logo wp-embed-responsive wp-theme-lumoria wide lumoria-plus-1.0.0 lumoria-pro-1.0.0 ally-default elementor-default elementor-template-full-width elementor-kit-8 elementor-page elementor-page-541 e--ua-blink e--ua-chrome e--ua-mac e--ua-webkit" style="--header-height: 0px;" data-elementor-device-mode="desktop">
    
    <!-- Pre-loader -->
    <div class="pre-loader loader1" style="display: none;">
        <div class="loader-inner">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <path class="house-Top" d="M32.3,13.4c0.8,0,1.1,0.6,1.2,1.2v11.5l15.8-12.5c0.6-0.4,1.2-0.2,1.5,0L95.6,49c0.5,0.3,0.6,1.2,0.2,1.7 c-0.4,0.5-1.2,0.6-1.7,0.2L50,16.1L5.9,50.9c-0.5,0.4-1.3,0.3-1.7-0.2C3.9,50.2,4,49.4,4.5,49l17.2-13.6V14.6c0-0.6,0.6-1.2,1.2-1.2 C22.9,13.4,32.3,13.4,32.3,13.4z M31.1,15.8h-7.1v17.8l7.1-5.6V15.8z"></path>
                <path class="house-line" d="M80.7,43l2.4,1.8v40.5c0,0.7-0.5,1.2-1.2,1.2H59.4c-0.7,0-1.2-0.5-1.2-1.2V71.2c0-4.6-3.7-8.3-8.3-8.3s-8.3,3.7-8.3,8.3 v14.2c0,0.7-0.5,1.2-1.2,1.2H18.2c-0.7,0-1.2-0.5-1.2-1.2V44.9l2.4-1.8v41.2h20v-13c0-5.9,4.8-10.6,10.6-10.6s10.6,4.8,10.6,10.6v13 h20V43z"></path>
            </svg>
        </div>
    </div>

    <a class="skip-link screen-reader-text" href="#main">Skip to content</a>

    <!-- Wrapper -->
    <div class="wrapper">
        <div class="inner-wrapper">
            
            <!-- Header Wrapper -->
            <div id="header-wrapper" class="header-top-relative">
                <header id="header"></header>
            </div>

            <!-- Main Content -->
            <div id="main">
                <div class="wdt-elementor-container-fluid">
                    
                    {% include "mainpage/hero.html" %}
                    
                    {% include "mainpage/property-cards.html" %}
                    
                    {% include "mainpage/portfolio.html" %}
                    
                    {% include "mainpage/about-section.html" %}
                    
                    {% include "mainpage/services.html" %}
                    
                    {% include "mainpage/areas-bali.html" %}
                    
                    {% include "mainpage/services-list.html" %}
                    
                    {% include "mainpage/faq.html" %}
                    
                </div>
            </div>

        </div>
    </div>

</body>
{% endblock %}