{% extends "base/base.html" %}
{% load static i18n %}

{% block content %}
<div class="wrapper ovh">
  <div class="body_content">
    
    {% include "mainpage/hero.html" %}
    {% include "mainpage/portfolio.html" %}
    {% include "mainpage/about-us.html" %}
    {% include "mainpage/about-us-cards.html" %}
    {% include "mainpage/areas-bali.html" %}
    {% include "mainpage/what-we-do2.html" %}
    {% include "mainpage/all-services3.html" %}
    {% include "mainpage/reviews2.html" %}
    {% include "mainpage/partners2.html" %}
    {% include "mainpage/faq.html" %}

  </div>
</div>
{% endblock %}