{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="wrapper ovh">
  <div class="preloader"></div>
  
  <div class="body_content">
    
    {% include "mainpage/hero.html" %}
    {% include "mainpage/portfolio.html" %}
    {% include "mainpage/about-us.html" %}
    {% include "mainpage/about-us-cards.html" %}
    {% include "mainpage/areas-bali.html" %}
    {% include "mainpage/what-we-do.html" %}
    {% include "mainpage/all-services.html" %}
    {% include "mainpage/map.html" %}
    {% include "mainpage/reviews.html" %}
    {% include "mainpage/partners.html" %}
    {% include "mainpage/faq.html" %}

  </div>
</div>
{% endblock %}