{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="wrapper ovh">
  <div class="preloader"></div>
  
  <div class="body_content">
    <div class="home8-sidebar-wrapper d-none d-xxl-block">
      <span class="sidemenu-btn filter-btn-right mt35 d-block text-center"><img src="{% static 'images/dark-nav-icon.svg' %}" alt=""></span>
      <div class="wrapper">
        <span class="tel">29 110 987 654</span>
        <a class="mail" href="mailto:info@realton.com">info@realton.com</a>
        <div class="social-style2">
          <span class="text-center"><i class="fab fa-facebook-f d-block"></i></span>
          <span class="text-center"><i class="fab fa-twitter d-block"></i></span>
          <span class="text-center"><i class="fab fa-instagram d-block"></i></span>
          <span class="text-center"><i class="fab fa-linkedin-in d-block"></i></span>
        </div>
        <a href="#explore-property">
          <div class="mouse_scroll at-home8 text-center d-block">
            <img src="{% static 'images/about/home-scroll2.png' %}" alt="">
          </div>
        </a>
      </div>
    </div>
    
    {% include "mainpage/hero.html" %}
    {% include "mainpage/portfolio.html" %}
    {% include "mainpage/about-section.html" %}
    {% include "mainpage/about-us-cards.html" %}
    {% include "mainpage/areas-bali.html" %}
    {% include "mainpage/what-we-do.html" %}
    {% include "mainpage/all-services.html" %}
    {% include "mainpage/map.html" %}
    {% include "mainpage/reviews.html" %}
    {% include "mainpage/partners.html" %}
    {% include "mainpage/faq.html" %}

  </div>
</div>
{% endblock %}