
{% load static %}
<section class="home-banner-style8 p0">
      <div class="home-style8">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-xl-6">
              <div class="inner-banner-style8">
                <h6 class="hero-sub-title animate-up-1">THE BEST WAY TO</h6>
                <h2 class="hero-title animate-up-2">Find your happy</h2>
                <p class="hero-text fz15 animate-up-3">Search properties for sale and to rent in the UK</p>
              </div>
            </div>
            <div class="col-lg-6 col-xl-4">
              <div class="advance-search-tab mt-5 mx-auto animate-up-3">
                <ul class="nav nav-tabs p-0 m-0 border-bottom-0" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Buy</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Rent</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Sold</button>
                  </li>
                </ul>
                <div class="tab-content p30" id="myTabContent">
                  <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="advance-content-style1 at-home8">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="bootselect-multiselect mb20">
                            <div class="dropdown bootstrap-select"><select class="selectpicker">
                              <option>Property Type</option>
                              <option>Apartments</option>
                              <option>Bungalow</option>
                              <option>Houses</option>
                              <option>Loft</option>
                              <option>Office</option>
                              <option>TownHome</option>
                              <option>Villa</option>
                            </select><button type="button" tabindex="-1" class="btn dropdown-toggle btn-light" data-bs-toggle="dropdown" role="combobox" aria-owns="bs-select-3" aria-haspopup="listbox" aria-expanded="false" title="Property Type"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Property Type</div></div> </div></button><div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-3" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div></div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="dropdown-lists at-home8 mb20">
                            <div class="btn open-btn drop_btn3 text-start dropdown-toggle" data-bs-toggle="dropdown">Price <i class="fas fa-caret-down float-end fz11"></i></div>
                            <div class="dropdown-menu">
                              <div class="widget-wrapper pb20 mb0 pl20 pr20">
                                <!-- Range Slider Mobile Version -->
                                <div class="range-slider-style2">
                                  <div class="range-wrapper at-home10">
                                    <div class="slider-range mb30 mt35 ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"><div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0.02%; width: 70.967%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0.02%;"></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 70.987%;"></span></div>
                                    <div class="text-center">
                                      <input type="text" class="amount" placeholder="$20"><span class="fa-sharp fa-solid fa-minus mx-2 dark-color"></span>
                                      <input type="text" class="amount2" placeholder="$70987">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="bootselect-multiselect mb15">
                            <div class="dropdown bootstrap-select"><select class="selectpicker">
                              <option>Location</option>
                              <option value="California">California</option>
                              <option value="Chicago">Chicago</option>
                              <option value="LosAngeles">Los Angeles</option>
                              <option value="Manhattan">Manhattan</option>
                              <option value="NewJersey">New Jersey</option>
                              <option value="NewYork">New York</option>
                              <option value="SanDiego">San Diego</option>
                              <option value="SanFrancisco">San Francisco</option>
                              <option value="Texas">Texas</option>
                            </select><button type="button" tabindex="-1" class="btn dropdown-toggle btn-light" data-bs-toggle="dropdown" role="combobox" aria-owns="bs-select-4" aria-haspopup="listbox" aria-expanded="false" title="Location"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Location</div></div> </div></button><div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-4" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div></div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="d-bloc mt-3 mt-md-0 mb15">
                            <button class="advance-search-btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><span class="flaticon-settings"></span> Advanced</button>
                          </div>
                          <div class="d-grid">
                            <button class="ud-btn btn-dark" type="button"><span class="flaticon-search pe-2 vam"></span>Search</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="advance-content-style1 at-home8">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="bootselect-multiselect mb20">
                            <div class="dropdown bootstrap-select"><select class="selectpicker">
                              <option>Property Type</option>
                              <option>Apartments</option>
                              <option>Bungalow</option>
                              <option>Houses</option>
                              <option>Loft</option>
                              <option>Office</option>
                              <option>TownHome</option>
                              <option>Villa</option>
                            </select><button type="button" tabindex="-1" class="btn dropdown-toggle btn-light" data-bs-toggle="dropdown" role="combobox" aria-owns="bs-select-5" aria-haspopup="listbox" aria-expanded="false" title="Property Type"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Property Type</div></div> </div></button><div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-5" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div></div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="dropdown-lists at-home8 mb20">
                            <div class="btn open-btn drop_btn3 text-start dropdown-toggle" data-bs-toggle="dropdown">Price <i class="fas fa-caret-down float-end fz11"></i></div>
                            <div class="dropdown-menu">
                              <div class="widget-wrapper pb20 mb0 pl20 pr20">
                                <!-- Range Slider Mobile Version -->
                                <div class="range-slider-style2">
                                  <div class="range-wrapper at-home10">
                                    <div class="slider-range mb30 mt35 ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"><div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0.02%; width: 70.967%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0.02%;"></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 70.987%;"></span></div>
                                    <div class="text-center">
                                      <input type="text" class="amount" placeholder="$20"><span class="fa-sharp fa-solid fa-minus mx-2 dark-color"></span>
                                      <input type="text" class="amount2" placeholder="$70987">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="bootselect-multiselect mb15">
                            <div class="dropdown bootstrap-select"><select class="selectpicker">
                              <option>Location</option>
                              <option value="California">California</option>
                              <option value="Chicago">Chicago</option>
                              <option value="LosAngeles">Los Angeles</option>
                              <option value="Manhattan">Manhattan</option>
                              <option value="NewJersey">New Jersey</option>
                              <option value="NewYork">New York</option>
                              <option value="SanDiego">San Diego</option>
                              <option value="SanFrancisco">San Francisco</option>
                              <option value="Texas">Texas</option>
                            </select><button type="button" tabindex="-1" class="btn dropdown-toggle btn-light" data-bs-toggle="dropdown" role="combobox" aria-owns="bs-select-6" aria-haspopup="listbox" aria-expanded="false" title="Location"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Location</div></div> </div></button><div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-6" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div></div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="d-bloc mt-3 mt-md-0 mb15">
                            <button class="advance-search-btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><span class="flaticon-settings"></span> Advanced</button>
                          </div>
                          <div class="d-grid">
                            <button class="ud-btn btn-dark" type="button"><span class="flaticon-search pe-2 vam"></span>Search</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="advance-content-style1 at-home8">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="bootselect-multiselect mb20">
                            <div class="dropdown bootstrap-select"><select class="selectpicker">
                              <option>Property Type</option>
                              <option>Apartments</option>
                              <option>Bungalow</option>
                              <option>Houses</option>
                              <option>Loft</option>
                              <option>Office</option>
                              <option>TownHome</option>
                              <option>Villa</option>
                            </select><button type="button" tabindex="-1" class="btn dropdown-toggle btn-light" data-bs-toggle="dropdown" role="combobox" aria-owns="bs-select-7" aria-haspopup="listbox" aria-expanded="false" title="Property Type"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Property Type</div></div> </div></button><div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-7" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div></div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="dropdown-lists at-home8 mb20">
                            <div class="btn open-btn drop_btn3 text-start dropdown-toggle" data-bs-toggle="dropdown">Price <i class="fas fa-caret-down float-end fz11"></i></div>
                            <div class="dropdown-menu">
                              <div class="widget-wrapper pb20 mb0 pl20 pr20">
                                <!-- Range Slider Mobile Version -->
                                <div class="range-slider-style2">
                                  <div class="range-wrapper at-home10">
                                    <div class="slider-range mb30 mt35 ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"><div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0.02%; width: 70.967%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0.02%;"></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 70.987%;"></span></div>
                                    <div class="text-center">
                                      <input type="text" class="amount" placeholder="$20"><span class="fa-sharp fa-solid fa-minus mx-2 dark-color"></span>
                                      <input type="text" class="amount2" placeholder="$70987">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="bootselect-multiselect mb15">
                            <div class="dropdown bootstrap-select"><select class="selectpicker">
                              <option>Location</option>
                              <option value="California">California</option>
                              <option value="Chicago">Chicago</option>
                              <option value="LosAngeles">Los Angeles</option>
                              <option value="Manhattan">Manhattan</option>
                              <option value="NewJersey">New Jersey</option>
                              <option value="NewYork">New York</option>
                              <option value="SanDiego">San Diego</option>
                              <option value="SanFrancisco">San Francisco</option>
                              <option value="Texas">Texas</option>
                            </select><button type="button" tabindex="-1" class="btn dropdown-toggle btn-light" data-bs-toggle="dropdown" role="combobox" aria-owns="bs-select-8" aria-haspopup="listbox" aria-expanded="false" title="Location"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Location</div></div> </div></button><div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-8" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div></div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="d-bloc mt-3 mt-md-0 mb15">
                            <button class="advance-search-btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><span class="flaticon-settings"></span> Advanced</button>
                          </div>
                          <div class="d-grid">
                            <button class="ud-btn btn-dark" type="button"><span class="flaticon-search pe-2 vam"></span>Search</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>