
.wdt-content-item .wdt-content-counter { color: var(--wdt-elementor-color-secondary); display: inline-flex; align-items: center; justify-content: center;     font-size: var(--wdtFontSize_H5); font-weight: var(--wdtFontWeight_H5); -webkit-transition: var(--wdt-elementor-base-transition); transition: var(--wdt-elementor-base-transition); }
.wdt-content-item .wdt-content-counter > .wdt-content-counter-number { transform: unset !important; }
.wdt-content-item .wdt-content-counter > *:not(:last-child) { margin-right: 2px; }
.wdt-dark-bg .wdt-content-item .wdt-content-counter {color: var(--wdtAccentTxtColor);}


/* Default Template */
.wdt-counter-holder.wdt-rc-template-default .wdt-content-item { text-align: center; }
.wdt-counter-holder.wdt-rc-template-default .wdt-column:not(:last-child) .wdt-content-item:after{content: '';width: 1px; height: 100%; position: absolute;top: 0; right: 0; background-color: var(--wdtBorderColor);}
.wdt-counter-holder.wdt-rc-template-default .wdt-content-item .wdt-content-icon-wrapper .wdt-content-icon span { background-color: rgba(var(--wdt-elementor-color-accent-rgb),0.85); color: var(--wdt-elementor-color-white); font-size: 30px; height: 75px; width: 75px; -webkit-border-radius: 3px; border-radius: 3px; }

.wdt-counter-holder.wdt-rc-template-default .wdt-content-item .wdt-content-counter { transition:var(--wdtBaseTransition); color: var(--wdtSecondaryColor); font-size: clamp(2.25rem, 1.9156rem + 1.5287vw, 3.75rem); /* Min-36 & Max-60 */  font-family: var(--wdtFontTypo_Alt); line-height: 1.2; font-weight:var(--wdtFontWeight_H4); }
.wdt-counter-holder.wdt-rc-template-default .wdt-content-item:hover .wdt-content-counter{color:var(--wdtPrimaryColor);}
.wdt-counter-holder.wdt-rc-template-default .wdt-content-item:hover .wdt-content-icon-wrapper .wdt-content-icon span { background-color: var(--wdt-elementor-color-accent); -webkit-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: 0 10px 10px -10px rgba(var(--wdt-elementor-color-secondary-rgb), 0.5); box-shadow: 0 10px 10px -10px rgba(var(--wdt-elementor-color-secondary-rgb), 0.5); -webkit-transform: translateY(-5px); transform: translateY(-5px); }

.wdt-counter-holder.wdt-rc-template-default .wdt-content-item .wdt-content-separator.separator-1:last-child { margin-top: 0; }
.wdt-counter-holder.wdt-rc-template-default .wdt-content-item:hover .wdt-content-separator.separator-1 span { -webkit-transform: scaleX(1.25); transform: scaleX(1.25); }

.wdt-counter-holder.wdt-rc-template-default .wdt-content-item .wdt-content-detail-group .wdt-content-title h5 { transition:var(--wdtAltTransition); font-size: var(--wdtFontSize_Base); font-weight: var(--wdtFontWeight_Base); font-family: var(--wdtFontTypo_Ext);}

.wdt-counter-holder.wdt-rc-template-default .wdt-content-item .wdt-content-counter-wrapper{
    margin-bottom: 5px;
}

.wdt-home-counter .wdt-counter-holder.wdt-rc-template-default .wdt-content-item:after{display: none;}

/* Standard Template */
.wdt-counter-holder.wdt-rc-template-standard .wdt-content-item { text-align: center; border-radius: var(--wdtRadius_2X); position: relative; padding: 20px 26px; overflow: hidden; height: 100%; }
.wdt-counter-holder.wdt-rc-template-standard .wdt-content-item:after{ content: ""; top:0; left:0; position:absolute; width: 100%; height: 100%; background-color: transparent; z-index: -1; overflow: hidden; border-radius: var(--wdtRadius_Zero); backdrop-filter: blur(10px);}
.wdt-counter-holder.wdt-rc-template-standard .wdt-column:nth-child(2) .wdt-content-item::after {background-color: rgb(var(--wdtSecondaryColorRgb), 0.9);}
.wdt-counter-holder.wdt-rc-template-standard:after{ content: ''; background-image: radial-gradient(circle farthest-side at 2% 0%, transparent 98%, var(--wdtBodyBGColor)); width: 20px; height: 20px; position: absolute; bottom: -19px; left: 0; transform: rotate(180deg);}
.wdt-counter-holder.wdt-rc-template-standard .wdt-content-item .wdt-media-group { background-color: transparent !important; display: inline-table; margin: 1em 0; padding: 1em; position: relative; z-index: 0; border-radius: 5px; }
.wdt-counter-holder.wdt-rc-template-standard .wdt-content-item .wdt-media-group:before { background: currentColor; color: rgba(var(--wdt-elementor-color-accent-rgb),0.85); content: ""; display: block; height: auto; padding-top: 50%; padding-bottom: 50%; position: absolute; left: 50%; top: 50%; width: 100%; z-index: -1; border-radius: inherit; transform: translate(-50%,-50%); transform-origin: left top; transform-style: preserve-3d; transition: inherit; }
.wdt-counter-holder.wdt-rc-template-standard .wdt-content-item .wdt-media-group .wdt-content-icon-wrapper { margin-bottom: 0; }
.wdt-counter-holder.wdt-rc-template-standard .wdt-content-item .wdt-media-group .wdt-content-counter-wrapper .wdt-content-counter { color: inherit; }
.wdt-counter-holder.wdt-rc-template-standard .wdt-content-item:hover .wdt-media-group { color: var(--wdt-elementor-color-white); border-radius: 10px; }
.wdt-counter-holder.wdt-rc-template-standard .wdt-content-item:hover .wdt-media-group:before { background-color: var(--wdt-elementor-color-accent); }
.wdt-counter-holder.wdt-rc-template-standard .wdt-content-item:hover .wdt-media-group:before { background-color: var(--wdt-elementor-color-accent); transform: rotate(45deg) translate(-50%,-50%); transition-timing-function: cubic-bezier(.25,.75,.5,1.25); }
.wdt-counter-holder.wdt-rc-template-standard .wdt-content-item .wdt-content-counter{font-size: clamp(2.5rem, 2.25rem + 1.25vw, 3.75rem); /* Min-40 & Max-60 */  font-weight:var(--wdtFontWeight_H6);color:var(--wdtAccentTxtColor);line-height:var(--wdtLineHeight_H2);}
.wdt-counter-holder.wdt-rc-template-standard .wdt-content-item .wdt-content-subtitle{font-size:var(--wdtFontSize_Base);font-weight:var(--wdtFontWeight_Base);color:var(--wdtAccentTxtColor);}
.wdt-counter-holder.wdt-rc-template-standard .wdt-content-item .wdt-content-media-group{margin-bottom:0;}
/* home1-Counter-additional */

.wdt-counter-holder.wdt-rc-template-standard > .wdt-content-item .wdt-content-counter {
    /* font-size: calc(clamp(3.75rem, 3.1267rem + 2.0819vw, 5.625rem) - 10px); */
}
/* -----List Counter Style */
.wdt-counter-holder.wdt-rc-template-list-counter .wdt-content-item{display: flex;}
.wdt-counter-holder.wdt-rc-template-list-counter .wdt-content-item .wdt-content-media-group {
    display: flex; gap: 12px; align-items: center;    flex-wrap: wrap; justify-content: inherit;
}
.wdt-counter-holder.wdt-rc-template-list-counter .wdt-content-item .wdt-content-title h5{    font-size: var(--wdtFontSize_Base); font-weight: var(--wdtFontWeight_Base);}

.wdt-counter-holder.wdt-rc-template-list-counter .wdt-content-item > div:not(:last-child), .wdt-counter-holder.wdt-rc-template-list-counter .wdt-content-item .wdt-content-media-group > div:not(:last-child), .wdt-counter-holder.wdt-rc-template-list-counter .wdt-content-item .wdt-content-detail-group > div:not(:last-child), .wdt-counter-holder.wdt-rc-template-list-counter .wdt-content-item .wdt-content-elements-group > div:not(:last-child){margin: 0;}
.wdt-counter-holder.wdt-rc-template-list-counter .wdt-content-item .wdt-content-icon-wrapper .wdt-content-icon span{    background: var(--wdtAccentTxtColor);
    border-radius: var(--wdtRadius_Full); color: var(--wdtHeadAltColor); min-width: 16px; height: 16px;   font-size: calc(var(--wdtFontSize_Ext) - 4px);}
.wdt-counter-holder.wdt-rc-template-list-counter .wdt-content-item > div[class*="group"] > .wdt-content-title,
.wdt-counter-holder.wdt-rc-template-list-counter .wdt-content-item > div[class*="group"] > .wdt-content-subtitle { width: auto; }

@media(max-width:1024px){
.wdt-counter-holder.wdt-rc-template-standard:after{bottom:-20px;}
.wdt-counter-holder.wdt-rc-template-default .wdt-column:not(:last-child) .wdt-content-item:after{display: none;}
}
/* @media(max-width:767px){

} */
