{% load static %}
{% include "includes/contact-form.html" %}



<!-- Footer -->
 <section class="footer-reveal" aria-label="Site footer" style="padding:0px">
  <div class="footer-pin">
<section class="footer-style1 pt60 pb-0" >
  <div class="footer-pin">
  <div class="container">
    <!-- Верхняя часть -->
    <div class="row bb-white-light pb30 mb60 align-items-start">
      <!-- Левая зона: логотип/название + 4 колонки навигации -->
      <div class="col-lg-9">
        <div class="row g-4">
          <!-- Название/логотип -->
          <div class="col-12">
            <div class="footer-widget">
              <h1 class="mb-0">One Agency</h1>
            </div>
          </div>

          <!-- Колонки со списками -->
          <div class="col-6 col-md-3">
            <div class="link-style1">
              <h6 class="text-white mb25">Our projects</h6>
              <ul class="ps-0">
                <li><a href="#">Apartments</a></li>
                <li><a href="#">Villas</a></li>
                <li><a href="#">Townhouses</a></li>
                <li><a href="#">Land plots</a></li>
              </ul>
            </div>
          </div>

          <div class="col-6 col-md-3">
            <div class="link-style1">
              <h6 class="text-white mb25">Concierge service</h6>
              <ul class="ps-0">
                <li><a href="#">Accommodation</a></li>
                <li><a href="#">Transportation</a></li>
                <li><a href="#">Legal support</a></li>
                <li><a href="#">Travel</a></li>
              </ul>
            </div>
          </div>

          <div class="col-6 col-md-3">
            <div class="link-style1">
              <h6 class="text-white mb25">Navigation</h6>
              <ul class="ps-0">
                <li><a href="#">About us</a></li>
                <li><a href="#">About Bali</a></li>
                <li><a href="#">Map</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Partners</a></li>
                <li><a href="#">Contacts</a></li>
              </ul>
            </div>
          </div>

          <div class="col-6 col-md-3">
            <div class="link-style1">
              <h6 class="text-white mb25">Contacts</h6>
              <ul class="ps-0">
                <li><a href="#" target="_blank" rel="noopener">Instagram RU</a></li>
                <li><a href="#" target="_blank" rel="noopener">Instagram ENG</a></li>
                <li>
                  <span class="d-block text-gray">Tel.:</span>
                  <a href="tel:+6281339488437">+62 813 39 48 8437</a>
                </li>
                <li>
                  <span class="d-block text-gray">E-mail:</span>
                  <a href="mailto:info@oneagency.group">info@oneagency.group</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Правая зона: декоративный знак (как на макете) -->
      <div class="col-lg-3 d-none d-lg-flex justify-content-end">
        <!-- Замените путь на ваш реальный файл знака/ленты из макета -->
        <img src="{% static 'img/footer-mark.svg' %}" alt="" class="img-fluid">
      </div>
    </div>
  </div>

  <!-- Нижняя полоса -->
  <div class="container white-bdrt1 py-4">
    <div class="row align-items-center">
      <div class="col-sm-2">
        <div class="text-center text-lg-start">
          <p class="copyright-text text-gray ff-heading">© 2025 One Agency</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="text-center text-lg-start">
          <p class="copyright-text text-gray ff-heading"><a href="#" target="_blank" rel="noopener">Privacy Policy</a></p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="text-center text-lg-end">
          <p class="footer-menu ff-heading text-gray">
            <a class="text-gray" href="#">Built with passion by dw.studio & yaushevaweb.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>

</section>
  </div>
</section>

<a href="https://wa.me/+6281227867391" class="social-button whatsapp" target="_blank"></a>
<a class="scrollToHome" href="#"><i class="fas fa-angle-up"></i></a>
