{% load static %}
<header id="header">
    <div class="header-wrapper">
        <div class="header-inner">
            <!-- Logo -->
            <div class="logo-container">
                <a href="{% url 'core:home' %}" rel="home">
                    <img src="{% static 'images/One_Agency.svg' %}" alt="One Agency" width="266" height="50">
                </a>
            </div>
            
            <!-- Navigation -->
            <nav class="main-navigation">
                <ul class="nav-menu">
                    <li><a href="{% url 'core:home' %}">Our projects</a></li>
                    <li><a href="{% url 'core:about' %}">About us</a></li>
                    <li><a href="{% url 'core:services' %}">Concierge Service</a></li>
                    <li><a href="{% url 'blog:list' %}">Blog</a></li>
                    <li><a href="{% url 'core:contacts' %}">Contacts</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>