{% load static i18n %}
<!-- Favicon -->
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/Favicon16x16.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/Favicon32x32.png' %}">
<link rel="icon" type="image/png" sizes="192x192" href="{% static 'images/favicon/Favicon192x192.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/Favicon180x180.png' %}">
<link rel="icon" type="image/svg+xml" href="{% static 'images/favicon/Favicon512x512.svg' %}">