{% load static %}
<div id="page" class="mobilie_header_nav stylehome1">
  <div class="mobile-menu">
    <div class="header innerpage-style">
      <div class="menu_and_widgets">
        <div class="mobile_menu_bar d-flex justify-content-between align-items-center">
          <a class="menubar" href="#menu"><img src="{% static 'images/mobile-dark-nav-icon.svg' %}" alt=""></a>
          <a class="mobile_logo" href="/"><img src="{% static 'images/header-logo3.svg' %}" alt=""></a>
          <a href="#"><span class="icon fz18 far fa-user-circle"></span></a>
        </div>
      </div>
    </div>
  </div>
  <nav id="menu" class="">
    <ul>
      <li><a href="#">Our projects</a></li>
      <li><a href="#">About us</a></li>
      <li><a href="#">Concierge Service</a></li>
      <li><a href="#">About Bali</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Contacts</a></li>
      <li class="px-3 mobile-menu-btn">
        <a href="#" class="ud-btn btn-thm text-white">Submit Property<i class="fal fa-arrow-right-long"></i></a>
      </li>
    </ul>
  </nav>
</div>