{% load static %}
  <!-- Main Header Nav -->
  <header class="header-nav nav-homepage-style at-home3 stricky main-menu">
    <!-- Ace Responsive Menu -->
    <nav class="posr"> 
      <div class="container posr menu_bdrt1">
        <div class="row align-items-center justify-content-between">
          <div class="col-auto">
            <div class="d-flex align-items-center justify-content-between">
              <div class="logos mr40 mr10-lg">
                <a class="header-logo logo2" href="#"><img src="{% static 'images/header-logo3.svg' %}" alt="Header Logo"></a>
                <a class="header-logo logo1" href="#"><img src="{% static 'images/header-logo3.svg' %}" alt="Header Logo"></a>
              </div>
              <!-- Responsive Menu Structure-->
              <ul id="respMenu" class="ace-responsive-menu" data-menu-style="horizontal">
                <li class="visible_list"> <a class="list-item" href="#"><span class="title">Home</span></a>
                  <!-- Level Two-->
                  <ul>
                    <li><a href="#">Home V1</a></li>
                    <li><a href="#">Home V2</a></li>
                    <li><a href="#">Home V3</a></li>
                    <li><a href="#">Home V4</a></li>
                    <li><a href="#">Home V5</a></li>
                    <li><a href="#">Home V6</a></li>
                    <li><a href="#">Home V7</a></li>
                    <li><a href="#">Home V8</a></li>
                    <li><a href="#">Home V9</a></li>
                    <li><a href="#">Home V10</a></li>
                  </ul>
                </li>
                <li class="megamenu_style"> <a  class="list-item" href="#"><span class="title">Listing</span></a>
                  <ul class="row dropdown-megamenu">
                    <li class="col mega_menu_list">
                      <h4 class="title">Grid View</h4>
                      <ul>
                        <li><a href="#">Grid Default v1</a></li>
                        <li><a href="#">Grid Default v2</a></li>
                        <li><a href="#">Grid Full Width 3 Cols</a></li>
                        <li><a href="#">Grid Full Width 4 Cols</a></li>
                        <li><a href="#">Grid Full Width 2 Cols</a></li>
                        <li><a href="#">Grid Full Width 1 Cols v1</a></li>
                        <li><a href="#">Grid Full Width 1 Cols v2</a></li>
                        <li><a href="#">Banner Search v1</a></li>
                        <li><a href="#">Banner Search v2</a></li>
                      </ul>
                    </li>
                    <li class="col mega_menu_list">
                      <h4 class="title">Map Style</h4>
                      <ul>
                        <li><a href="#">Header Map Style</a></li>
                        <li><a href="#">Map V1</a></li>
                        <li><a href="#">Map V2</a></li>
                        <li><a href="#">Map V3</a></li>
                        <li><a href="#">Map V4</a></li>
                      </ul>
                    </li>
                    <li class="col mega_menu_list">
                      <h4 class="title">List View</h4>
                      <ul>
                        <li><a href="#">List v1</a></li>
                        <li><a href="#">List All Style</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="visible_list"> <a class="list-item" href="#"><span class="title">Property</span></a>
                  <ul>
                    <li> <a href="#"><span class="title">Agents</span></a>
                      <ul>
                        <li><a href="#">Agents</a></li>
                        <li><a href="#">Agent Single</a></li>
                        <li><a href="#">Agency</a></li>
                        <li><a href="#">Agency Single</a></li>
                      </ul>
                    </li>
                    <li> <a href="#"><span class="title">Dashboard</span></a>
                      <ul>
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Message</a></li>
                        <li><a href="#">New Property</a></li>
                        <li><a href="#">My Properties</a></li>
                        <li><a href="#">My Favorites</a></li>
                        <li><a href="#">Saved Search</a></li>
                        <li><a href="#">Reviews</a></li>
                        <li><a href="#">My Package</a></li>
                        <li><a href="#">My Profile</a></li>
                      </ul>
                    </li>
                    <li> <a href="#"><span class="title">Map Style</span></a>
                      <ul>
                        <li><a href="#">Header Map Style</a></li>
                        <li><a href="#">Half Map Style v1</a></li>
                        <li><a href="#">Half Map Style v2</a></li>
                        <li><a href="#">Half Map Style v3</a></li>
                        <li><a href="#">Half Map Style v4</a></li>
                      </ul>
                    </li>
                    <li> <a href="#"><span class="title">Single Style</span></a>
                      <ul>
                        <li><a href="#">Single V1</a></li>
                        <li><a href="#">Single V2</a></li>
                        <li><a href="#">Single V3</a></li>
                        <li><a href="#">Single V4</a></li>
                        <li><a href="#">Single V5</a></li>
                        <li><a href="#">Single V6</a></li>
                        <li><a href="#">Single V7</a></li>
                        <li><a href="#">Single V8</a></li>
                        <li><a href="#">Single V9</a></li>
                        <li><a href="#">Single V10</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="visible_list"> <a class="list-item" href="#"><span class="title">Blog</span></a>
                  <ul>
                    <li><a href="#">List V1</a></li>
                    <li><a href="#">List V2</a></li>
                    <li><a href="#">List V3</a></li>
                    <li><a href="#">Single</a></li>
                  </ul>
                </li>
                <li class="visible_list"> <a class="list-item" href="#"><span class="title">Pages</span></a>
                  <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Compare</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Faq</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">404</a></li>
                    <li><a href="#">Invoices</a></li>
                    <li><a href="#">UI Elements</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-auto">
            <div class="d-flex align-items-center">
              <a class="login-info d-flex align-items-center" data-bs-toggle="modal" href="#exampleModalToggle" role="button"><i class="far fa-user-circle fz16 me-2"></i> <span class="d-none d-xl-block">Login / Register</span></a>
              <a class="ud-btn btn-transparent bdrs60 ms-2 ms-xl-4" href="#">Add Property<i class="fal fa-arrow-right-long"></i></a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>