{% load static i18n %}
<div class="rightside-hidden-bar">
  <div class="hsidebar-header">
    <div class="sidebar-close-icon"><span class="far fa-times"></span></div>
  </div>
  <div class="hsidebar-content">
    <div class="hiddenbar_navbar_content">
      <div class="hiddenbar_navbar_menu">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="#" role="button">Our projects</a></li>
          <li class="nav-item"><a class="nav-link" href="#" role="button">About Us</a></li>
          <li class="nav-item"><a class="nav-link" href="#" role="button">Concierge Service</a></li>
          <li class="nav-item"><a class="nav-link" href="#" role="button">About Bali</a></li>
          <li class="nav-item"><a class="nav-link" href="#" role="button">FAQ</a></li>
          <li class="nav-item"><a class="nav-link" href="#" role="button">Contacts</a></li>
        </ul>
      </div>
      <div class="hiddenbar_footer position-relative bdrt1">
        <div class="row pt45 pb30 pl30">
          <div class="col-auto">
            <div class="contact-info">
              <p class="info-title dark-color">Total Free Customer Care</p>
              <h6 class="info-phone dark-color"><a href="#">+(0) 123 050 945 02</a></h6>
            </div>
          </div>
          <div class="col-auto">
            <div class="contact-info">
              <p class="info-title dark-color">Nee Live Support?</p>
              <h6 class="info-mail dark-color"><a href="mailto:hi@homez.com">hi@homez.com</a></h6>
            </div>
          </div>
        </div>
        <div class="row pt30 pb30 bdrt1">
          <div class="col-auto">
            <div class="social-style-sidebar d-flex align-items-center pl30">
              <h6 class="me-4 mb-0">Follow us</h6>
              <a class="me-3" href="#"><i class="fab fa-facebook-f"></i></a>
              <a class="me-3" href="#"><i class="fab fa-twitter"></i></a>
              <a class="me-3" href="#"><i class="fab fa-instagram"></i></a>
              <a class="me-3" href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>