{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{% block meta_description %}One Agency - Real Estate in Bali{% endblock %}">
<link rel="profile" href="https://gmpg.org/xfn/11">
<link rel="canonical" href="{{ request.build_absolute_uri }}">
<title>{% block title %}One Agency - Real Estate Bali{% endblock %}</title>
<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">