{% load static %}
<!-- Wrapper End --> 
<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script> 
<script src="{% static 'js/jquery-migrate-3.0.0.min.js' %}"></script> 
<script src="{% static 'js/popper.min.js' %}"></script> 
<script src="{% static 'js/bootstrap.min.js' %}"></script> 
<script src="{% static 'js/bootstrap-select.min.js' %}"></script> 
<script src="{% static 'js/jquery.mmenu.all.js' %}"></script> 
<script src="{% static 'js/ace-responsive-menu.js' %}"></script> 
<script src="{% static 'js/jquery-scrolltofixed-min.js' %}"></script> 
<script src="{% static 'js/wow.min.js' %}"></script> 
<script src="{% static 'js/isotop.js' %}"></script> 
<script src="{% static 'js/owl.js' %}"></script> 
<script src="{% static 'js/swiper.js' %}"></script>
<script src="{% static 'js/pricing-slider.js' %}"></script>
<!-- Custom script for all pages --> 
<script src="{% static 'js/script.js' %}"></script>