{% load static %}
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap" rel="stylesheet">

<!-- Core CSS -->
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/grid.css' %}">
<link rel="stylesheet" href="{% static 'css/layout.css' %}">
<link rel="stylesheet" href="{% static 'css/icons.css' %}">
<link rel="stylesheet" href="{% static 'css/theme.css' %}">

<!-- Components CSS -->
<link rel="stylesheet" href="{% static 'css/whatsappbutton.css' %}">


<!-- WordPress/Elementor Styles -->
<link rel="stylesheet" href="{% static 'css/specific/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/elementor.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/common.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/widget.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/careers.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/services.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/svgs-attachment.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/core.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/plus-extra-adv.min.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/plus-alignmnet.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/plus-nav-menu-lite.min.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/plus-temp-notice.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/swiper.min.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/all.min.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/modules-listing.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/modules-default.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/media-images-frontend.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/custom-frontend.min.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/post-8.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/widget-image.min.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/widget-heading.min.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/fadeInUp.min.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/jquery.magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/listing.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/custom-widget-icon-box.min.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/post-541.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/style.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/rtl.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/breadcrumb.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/header.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/loader-1.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/blog.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/jquery.bxslider.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/comments.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/pagination.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/search.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/nav-menu-animations.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/nav-menu.css' %}">
<link rel="stylesheet" href="{% static 'css/specific/flatpickr.min.css' %}">

<!-- Select2 CSS -->
<link rel="stylesheet" href="{% static 'lib/select2/select2.css' %}">