
/* Columns */
.wdt-column-holder .wdt-column-wrapper { width: auto; }
.wdt-column-wrapper { display: flex; flex-wrap: wrap; }
.wdt-column-wrapper .wdt-column { margin: 0; }

.wdt-column-wrapper.wdt-column-gap-default { margin:-10px; }
.wdt-column-wrapper.wdt-column-gap-narrow { margin:-5px; }
.wdt-column-wrapper.wdt-column-gap-extended { margin:-15px; }
.wdt-column-wrapper.wdt-column-gap-wide { margin:-20px; }
.wdt-column-wrapper.wdt-column-gap-wider { margin:-30px; }

.wdt-column-wrapper.wdt-column-gap-default .wdt-column { padding: 10px; }
.wdt-column-wrapper.wdt-column-gap-no .wdt-column { padding: 0; }
.wdt-column-wrapper.wdt-column-gap-narrow .wdt-column { padding: 5px; }
.wdt-column-wrapper.wdt-column-gap-extended .wdt-column { padding: 15px; }
.wdt-column-wrapper.wdt-column-gap-wide .wdt-column { padding: 20px; }
.wdt-column-wrapper.wdt-column-gap-wider .wdt-column { padding: 30px; }

/*==== Scroll Snap Style ====*/

.wdt-column-wrapper.wdt-snap-scroll-enabled:not(.wdt-snap-scroll) { flex-wrap: wrap; }

.wdt-column-wrapper.wdt-snap-scroll-enabled.wdt-snap-scroll { overflow: auto; display: flex; flex-wrap: nowrap; 
  scroll-snap-type: X mandatory; scroll-padding-left: 0px; -webkit-overflow-scrolling: touch; }
.wdt-column-wrapper.wdt-snap-scroll-enabled.wdt-snap-scroll div.wdt-column { scroll-snap-align: start; width: auto !important; }

/*==== Scroll Snap - Pagination Style ====*/
.wdt-column-wrapper.wdt-snap-scroll-enabled:not(.wdt-snap-scroll) ~ .wdt-snap-scroll-pagination { display: none; }
.wdt-column-wrapper.wdt-snap-scroll-enabled ~ .wdt-snap-scroll-pagination { text-align: center; margin-top: clamp(2.5rem, 2.0845rem + 1.3879vw, 3.75rem);/* 60-40 */
}
.wdt-column-wrapper.wdt-snap-scroll-enabled ~ .wdt-snap-scroll-pagination button{margin: 0 clamp(0.25rem, 0.2084rem + 0.1388vw, 0.375rem);/*6-4*/     padding: 0;
    width: clamp(2.5rem, 2.0845rem + 1.3879vw, 3.75rem);/*60-40*/
    height: clamp(2.5rem, 2.0845rem + 1.3879vw, 3.75rem);/*60-40*/
    font-size: 0; color: var(--wdtSecondaryColor); background-color: transparent;     border-color: var(--wdtHeadAltColor);
    border-radius: var(--wdtRadius_Full); position: relative;}
.wdt-column-wrapper.wdt-snap-scroll-enabled ~ .wdt-snap-scroll-pagination button.disabled:hover{background-color: transparent;}

.wdt-column-wrapper.wdt-snap-scroll-enabled ~ .wdt-snap-scroll-pagination button:after{ content: '\e800';      line-height: var(--wdtLineHeight_Alt);
     font-family: "wdt-new-"; width: 100%; height: 100%; display: flex; font-size: calc(var(--wdtFontSize_Base) + 2px); align-items: center; justify-content: center; font-size: clamp(0.875rem, 0.7503rem + 0.4164vw, 1.25rem);/*20-14*/}  
.wdt-column-wrapper.wdt-snap-scroll-enabled ~ .wdt-snap-scroll-pagination button.wdt-pagination-prev:after{content: '\e801';}
.wdt-column-wrapper.wdt-snap-scroll-enabled ~ .wdt-snap-scroll-pagination button.disabled{ opacity: 0.5;}
.wdt-column-wrapper.wdt-snap-scroll-enabled ~ .wdt-snap-scroll-pagination button.disabled:hover{ color: var(--wdtSecondaryColor); background-color: transparent;border-color: var(--wdtSecondaryColor);}


.wdt-column-wrapper.wdt-snap-scroll-enabled ~ .wdt-snap-scroll-pagination button:hover{color: var(--wdtAccentTxtColor); background-color: var(--wdtLinkHoverColor); border-color:var(--wdtLinkHoverColor) ;}

.wdt-dark-bg .wdt-column-wrapper.wdt-snap-scroll-enabled ~ .wdt-snap-scroll-pagination button,
.wdt-dark-bg .wdt-column-wrapper.wdt-snap-scroll-enabled ~ .wdt-snap-scroll-pagination button.disabled:hover{ background-color: transparent;   border-color: var(--wdtAccentTxtColor); color: var(--wdtAccentTxtColor);}
.wdt-dark-bg .wdt-column-wrapper.wdt-snap-scroll-enabled ~ .wdt-snap-scroll-pagination button:hover{    border-color: var(--wdtLinkHoverColor); background-color: var(--wdtLinkHoverColor);}
/* ===== Scroll Snap - Scrollbar CSS ===== */

  /* Firefox */
  .wdt-column-wrapper.wdt-snap-scroll-enabled.wdt-snap-scroll { scrollbar-width: none; scrollbar-color: var(--wdtPrimaryColor) transparent; }
  /* Chrome, Edge, and Safari */
  .wdt-column-wrapper.wdt-snap-scroll-enabled.wdt-snap-scroll::-webkit-scrollbar { width: 0px; display: none; }
  .wdt-column-wrapper.wdt-snap-scroll-enabled.wdt-snap-scroll::-webkit-scrollbar-track { background: transparent; }
  .wdt-column-wrapper.wdt-snap-scroll-enabled.wdt-snap-scroll::-webkit-scrollbar-thumb { background-color: var(--wdtPrimaryColor); border-radius: 0px; }


/* Responsive */

@media only screen and (max-width: 767px) {

    .wdt-column-holder .wdt-column-wrapper { width: auto !important; }

}