

/*--------------------------------------------------------------
    Comments
--------------------------------------------------------------*/

    /* Comment Entries / Comment Lists */
	.commententries { float: left; margin: 0; padding: 0; width: 100%; }

	.commentlist { padding-left: 0; }
	.commentlist, .commentlist ul.children { display: inline-block; list-style: none; width: 100%; }

	.commentlist ul.children { margin: 0; padding-left: 80px; }
	.commentlist ul.children li > .children { padding-top: 0; padding-left: 60px; }

	.commentlist li.comment, .commentlist li.pingback, .commentlist li.trackback { padding-bottom: 0; }
	.commentlist li.comment .comment-respond p #email-notes, .comment-form > p #email-notes, .comment-form .comment-notes { display: inline-block; font-size: var(--wdtFontSize_Base); margin-bottom: 0; width: 100%; }
	.comment-form .comment-notes { margin-bottom: 20px; }

	#comments { clear: both; }
	#comments > h3 { font-size: clamp(1.5rem, 1.3328rem + 0.7643vw, 2.25rem);/* Min-24 & Max-36 */  margin-top: 0; margin-bottom: clamp(1.875rem, 1.2517rem + 2.0819vw, 3.75rem)/* mx-60 mn-30 */;}
	.comments-title { font-size: 1.25rem; margin-bottom: 1.5em; }

	.comment-list, .comment-list .children { list-style: none; margin: 0; padding: 0; }
	.comment-list li:before { display: none; }

	.comment-body { border-bottom: 1px solid; display:inline-block; float:none; margin: 35px 0 0; padding-bottom: 35px; padding-left: 80px; position: relative; width: 100%; }

	.comment-body + #respond.comment-respond { margin-top: 30px; }

	.commentlist > li:first-child > .comment-body { margin-top: 0; }
	ul.children li .comment-body { padding-left: 60px; }

	.comment-body .comment-meta { display: inline-block; margin-bottom: 15px; position: relative; width: 100%; }
	.comment-body p:last-child { margin-bottom: 0; }

	.comment-author { display: inline-block; line-height: normal; margin-bottom: 0; position: relative; width: 100%; }
	.comment-author b {font-size: clamp(1.25rem, 1.1669rem + 0.2776vw, 1.5rem); /* Min-20 & Max-24 */ text-transform: none; }
	.comment-author .avatar { height: 60px; left: -80px; position: absolute; width: 60px; top: 0; }

	.rounded .comment-author .avatar { border-radius: 50%; -webkit-border-radius: 50%; }
	.square .comment-author .avatar { border-radius: 0; -webkit-border-radius: 0; }

	.children .comment-author .avatar { height: 40px; left: -60px; width: 40px; top: 0; }
	.bypostauthor > .comment-body > .comment-meta > .comment-author .avatar { border: 1px solid; padding: 2px; }

	.comment-author .says { display: none; }

	.comment-author a:not(:focus), .comment-metadata a:not(:focus) { text-decoration: none; }
	.comment-metadata { display: inline-block; font-size: calc(var(--wdtFontSize_Base) - 3px); font-weight: normal; letter-spacing: 0; line-height: normal; padding: 0; position: relative; }
	.comment-metadata a.comment-edit-link { margin-left: 1em; }

	.comment-metadata, .comment-metadata a, .comment-metadata a.comment-edit-link { color: inherit; }
	.comment-metadata a:hover, .comment-metadata a.comment-edit-link:hover { opacity: 1; }

	.comment-details .reply { display: table; }
	.commentlist li.comment .reply { display: inline-block; right: 0; top: 0; position: absolute; margin: 0; padding: 0; }
	.page-with-sidebar .commentlist li.comment.depth-5 .reply { margin-top: 15px; position: relative; }

	.comment-reply-link { border: 1px solid; display: inline-block; font-size: calc(var(--wdtFontSize_Base) - 2px); font-weight: 400; line-height: normal; margin-top: 0; padding: 8px 15px; position: relative; text-transform: capitalize; -webkit-border-radius: var(--wdtRadius_2X); border-radius: var(--wdtRadius_2X); }
	.comment-reply-link:not(:focus) { text-decoration: none; }
	.comment-reply-link .icon { left: -2em; height: 1em; position: absolute; top: 0; width: 1em; }

	.commententries ul.commentlist li .reply a.comment-reply-login { background-color: rgba(0, 0, 0, 0); }


	.no-comments, .comment-awaiting-moderation { font-size: 14px; font-size: 0.875rem; font-style: italic; }

	.comments-pagination { margin: 2em 0 3em; }
	.comment-form > p.form-submit{margin-bottom: 0;}
	.form-submit { text-align: left; display: inline-block; width: 100%; }
	li.comment .comment-form p.form-submit { margin-bottom: 15px; }


	.commententries .comments-area:empty { display: none; }
	.commententries .comments-area > h3 { padding-bottom: 0; }
	.commententries .comments-area > h3, .commententries .comments-area > #comments > h3, #reviews h3, #respond h3#reply-title { font-size: 24px; }

	.commententries .comments-area > #comments > h3 { margin-bottom: 20px; }

	#respond h3#reply-title { position: relative; display: inline-block; width: 100%; font-size: clamp(1.5rem, 1.3328rem + 0.7643vw, 2.25rem); /* Min-24 & Max-36 */ margin-top: 0;}
	#respond h3#reply-title small { display: block; font-size:var(--wdtFontSize_Base); font-weight: normal; }
	#respond h3#reply-title small a {  position: relative;   color: var(--wdtSecondaryColor); display: table; opacity: 0.75; margin-top: 10px; }
	#respond h3#reply-title small a:hover { color: var(--wdtLinkHoverColor); opacity: 1;}

    #respond h3#reply-title small a::before{    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
	opacity: inherit;
    transition: var(--wdt-Ad-Transition);}

	#respond h3#reply-title small a:hover::before{ width: 0; left: auto;right: 0;}


	.commentlist li.comment #respond { display: block; }
	.commentlist li.comment .comment-body ~ #respond { display: inline-block; margin-top: -1px; margin-bottom: 0; padding: 10px 0 35px; position: relative; z-index: 1; }

	.commentlist li.comment .comment-body ~ #respond .comment-form { margin-bottom: 0; }
	.commentlist li.comment .comment-body ~ #respond h3#reply-title { margin-top: 0; }

	.pingback .comment-body, .trackback .comment-body { padding-left: 0; }
	.pingback .comment-body { margin-left: 0; padding-left: 0; }

	.commentlist li.comment, .commentlist li.pingback { padding-bottom: 0; }
	.commentlist li.pingback .comment-body .comment-content > p { margin-bottom: 0; }


	.commententries nav.navigation { float: left; margin-bottom: 40px; width: 100%; }
	.commententries .nocomments { border-top-width: 0; padding: 0; }

	.commententries nav.navigation > div .nav-previous { float: left; }
	.commententries nav.navigation > div .nav-next { float: right; }
	.commententries .nav-links > div a { border-bottom: 1px solid; padding-bottom: 5px; font-size: var(--wdtFontSize_Base); }
	.commententries .nav-previous > a:before, .commententries .nav-next > a:after { font-size: 16px; font-family: "Lumoria Icons"; transition: none; -webkit-transition: none;
	-ms-transition: none; -moz-transition: none; }
	.commententries .nav-previous > a:before { content: "\f104"; margin-right: 10px; }
	.commententries .nav-next > a:after { content: "\f105"; margin-left: 10px; }

	.commentlist li.pingback .comment-author b,
	.commentlist li.trackback .comment-author b { font-size: calc(var(--wdtFontSize_H6) - 2px); }


	#primary > .commententries:last-child > .comments-area > .comment-respond > .comment-form:last-child,
	#primary > .blog-single-entry > .commententries:last-child > .comments-area > .comment-respond > .comment-form:last-child { margin-bottom: 0; }


	.page-template-default.page:not(.woocommerce) #primary .commententries .comments-area { margin-top: 30px; }

	.page-template-default section > .commententries .comment-form p.comment-form-wdt-privatepolicy #comment-form-wdt-privatepolicy { margin-right: 12px; }

	.post-default .commententries { margin-top:20px; }


	.page figure.wp-caption ~ p:last-child img.alignright,
	.page figure.wp-caption ~ p:nth-last-child(2) img.alignright,

	.single-post .entry-body figure.wp-caption ~ p:last-child img.alignright.size-thumbnail,
	.single-post .entry-body figure.wp-caption ~ p:nth-last-child(2) img.alignright.size-thumbnail,

	.logged-in .single-post .entry-body figure.wp-caption ~ p:last-child img.alignright.size-thumbnail,
	.logged-in .single-post .entry-body figure.wp-caption ~ p:nth-last-child(2) img.alignright.size-thumbnail { clear: both; }

	.comment-form { display: inline-block; margin-bottom: 20px; width: 100%; }
	.comment-form > p { margin-bottom: 20px; width: 100%; float: left; text-align: left; position: relative; }

	.comment-form > p [type="checkbox"],
	.comment-form > p [type="radio"] { opacity: 0; }

	.comment-form p label { display: inline-block; }
	.comment-form p:not(.comment-form-cookies-consent) label { font-weight: var(--wdtFontWeight_Base); color: var(--wdtSecondaryColor); padding-bottom: 10px; }

	.comment-form .comment-form-cookies-consent label { font-size: calc(var(--wdtFontSize_Base) - 2px); padding-left: 28px; }
	.comment-form .comment-form-cookies-consent #wp-comment-cookies-consent { cursor: pointer; transition: var(--wdt-Ad-Transition);   margin: 0; appearance: none; position: absolute; left: 4px; top: 3px; border: 1px solid var(--wdtBorderColor); opacity: 1; width: 16px; height: 16px; border-radius: 5px; }

	.comment-form > p:last-child,.wpcf7-form .contact-form:last-child,.commentlist li.comment .comment-respond p:last-child { margin-bottom: 0; }
    .comment-form > p.comment-form-comment.textarea-field span.fa { float: left; height: 200px; }
	.comment-form > p input[type="checkbox"]:before, 
	.comment-form > p input[type="radio"]:before {
		content: "";
		width: 0.65em;
		height: 0.65em;
		clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
		transform: scale(0) rotate(0deg);
		transform-origin: bottom left;
		transition: 120ms transform ease-in-out;
		box-shadow: inset 1em 1em var(--wdtLinkHoverColor);
		display: block;
		margin: auto;
    	position: relative;
    	top: 1px;
	}

	.comment-form > p input[type="checkbox"]:checked:before, 
	.comment-form > p input[type="radio"]:checked:before {
		transform: scale(1) rotate(4deg);
	}

	label span.required, .comment-form > .comment-notes span.required { color: #ff0000; }

	.no-comments, .comment-awaiting-moderation { color: var(--wdtBodyTxtColor); }

	.comment-reply-link:hover, 	.commentlist li.comment .reply a:hover { color: var(--wdtAccentTxtColor); }

	.comment-body, .commentlist li.comment .comment-body ~ #respond, .commententries nav.navigation, ul.commentlist li.bypostauthor .author-name, .bypostauthor > .comment-body > .comment-meta > .comment-author .avatar { border-color: rgba(var(--wdtHeadAltColorRgb),0.15); }

	.commentlist li.comment .comment-body ~ #respond { border-top-color: var(--wdtBodyBGColor); }

    /* -----form style--- */
	div#respond,
	.commentlist li.comment .comment-body ~ #respond{
		background: var(--wdtAccentTxtColor);
		padding: clamp(1.25rem, 0.6927rem + 2.5478vw, 3.75rem);
		/* 60-20 */
		border-radius: var(--wdtRadius_2X);
	}

	.commententries:has(.commentlist) div#respond,
	.commentlist li.comment .comment-body ~ #respond{
		margin-top: clamp(1.875rem, 1.457rem + 1.9108vw, 3.75rem);
		/* 60-30 */
	}

/*--------------------------------------------------------------
    Accents
--------------------------------------------------------------*/

    /* Primary */
	.commentlist li.comment .reply a { color: var(--wdtPrimaryColor); }

	ul.commentlist li .reply a:hover { background-color: var(--wdtPrimaryColor); }

	.commentlist li.comment .reply a { border-color: var(--wdtPrimaryColor); }

	.comment-author b { color: var(--wdtHeadAltColor); }

	.comment-reply-link .icon, .commententries .nav-links > div a:hover, body .blog-single-entry ul li .comment-body .comment-author a:hover, body .blog-single-entry ul li .comment-body .comment-content a:hover { color: var(--wdtPrimaryColor); }


	/* Secondary */
	.commententries ul.commentlist li .reply a.comment-reply-login:hover { color: var(--wdtSecondaryColor); }



/*--------------------------------------------------------------
    Responsive
--------------------------------------------------------------*/

	@media only screen and (min-width:1541px) and (max-width:1724px) {

	    .children .comment-author .avatar { left: -60px; }

	}

	/*----*****---- << Laptop/Notebook >> ----*****----*/

	@media only screen and (min-width:1281px) and (max-width:1540px) {

	    .comment-body {padding-left: 85px; }
	    .comment-author .avatar {left: -85px; }

	    ul.children li .comment-body {padding-left: 60px; }
	    .children .comment-author .avatar {left: -60px; }

	}

	/*----*****---- << Tablet (Landscape) >> ----*****----*/

	/* Note: Design for a width of 960px */
    @media only screen and (min-width:1025px) and (max-width:1280px) {

		.comment-body {padding-left: 75px; }
		.comment-author .avatar {height: 60px; left: -75px; width: 60px; }

		.commentlist ul.children li > .children { padding-left: 6%; }

		ul.children li .comment-body {padding-left: 60px; }
		.children .comment-author .avatar {left: -60px; }

	}

	/*----*****---- << Tablet (Portrait) >> ----*****----*/

	/* Note: Design for a width of 768px */
    @media only screen and (min-width:768px) and (max-width:1024px) {

		.comment-body { padding-left: 80px; }
		.comment-author .avatar { height: 60px; left: -80px; width: 60px; }
		.comment-metadata { position: relative; top: 0; }

		ul.commentlist li .comment-author img { max-height: 60px; max-width: 60px; }
		.commentlist li.comment #respond { padding-left: 80px; }

		.commentlist ul.children li > .children { padding-left: 6%; }

		.commentlist .children li.comment #respond { padding-left: 60px; }
		ul.children li .comment-body { padding-left: 60px; }
		.children .comment-author .avatar { left: -60px; }

	}

	/*----*****---- << Mobile (Landscape) >> ----*****----*/

	/* Common Styles for the devices below 767px width */
	@media only screen and (max-width: 767px) {


		.entry-body .gallery .gallery-item { max-width: 100% !important; }

		/* Comment */
	    ul.commentlist { font-size: 15px; }
	    .comment-body .comment-meta { font-size: 13px; }
	    .comment-author b, ul.commentlist li .author-name > a { font-size: 20px; }

	    ul.commentlist li.comment .comment-author img { max-width: 40px; max-height: 40px; }

	    .comment-body { padding-left: 60px; }
	    .comment-author .avatar { height: 40px; left: -60px; width: 40px; }

	    ul.children li .comment-body { padding-left: 50px; }
	    .children .comment-author .avatar { left:-50px }

	    .commentlist li.comment .comment-body .comment-meta { margin-bottom: 10px; }
	    .commentlist li.comment #respond { padding-left: 0; }
	    .comment-reply-link { font-size: 13px; padding: 6px 12px; }


		.commentlist ul.children { padding-left:15px; }
	    .commentlist ul.children li > .children { padding-left: 6%; }

	    ul.commentlist li.comment ul.children .comment-author img { max-width: 30px; max-height: 30px; }

	    ul.commentlist li .comment-details { margin:0 0 10px; }
	    ul.commentlist, ul.commentlist li .comment-details { width: 100%; }

	    ul.commentlist li.depth-1, ul.commentlist li.depth-2, ul.commentlist li.depth-3, ul.commentlist li.depth-4, ul.commentlist li.depth-5 { margin-bottom:0; }
		.page-with-sidebar .commentlist li.comment.depth-5 .reply { margin-top: 15px; position: relative; }
        .commentlist li.comment #respond{ padding-left: 0; }

		li.comment .comment-form p.form-submit input[type="submit"] { margin-top: 0; font-weight: normal; }

		.post-password-form label input { width:100%; }
		.comment-form > p input[type="checkbox"] ~ label:before, .comment-form > p input[type="radio"] ~ label:before{top: 2px;}

	}

	/*----*****---- << Mobile - Portrait >> ----*****----*/

    /* Common Styles for the devices below 479px width */

@media only screen and (max-width: 767px) {.comment-form .comment-form-cookies-consent #wp-comment-cookies-consent{top: 1px;}}

	@media only screen and (max-width: 479px) {

		.comment-body { padding-left: 0; }
	    .comment-author .avatar { height: 50px; left: 0; width: 50px; top: 0; position: relative; display: block; margin-bottom: 20px; }
        .children .comment-author .avatar { left:0; top:0; }

	    .commentlist li.comment #respond { padding-left: 0; }
	    .commentlist { padding-left: 0; }
	    .commentlist li.comment .reply { position: relative; margin-top: 20px; }
	    ul.children li .comment-body { padding-left: 0; }
	    ul.commentlist li.comment .comment-author img { max-width: 50px; max-height: 50px; }

	    li.comment .comment-form p.form-submit input[type="submit"] { margin-top: 0; font-weight: normal; }

        .commententries .nav-previous, .commententries .nav-next { width:100%; text-align:center; }
    }