{% load static %}
    <!-- Home Banner Style V8 -->
    <section class="home-banner-style8 p0">
      <div class="home-style8">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-xl-6">
              <div class="inner-banner-style8">
                <h6 class="hero-sub-title animate-up-1">THE BEST WAY TO</h6>
                <h2 class="hero-title animate-up-2">Find your happy</h2>
                <p class="hero-text fz15 animate-up-3">Search properties for sale and to rent in the UK</p>
              </div>
            </div>
            <div class="col-lg-6 col-xl-4">
              
            </div>
          </div>
        </div>
      </div>
    </section>