{% load static %}
    <!-- CTA Banner -->
    <section class="pt30 pb-0">
      <div class="cta-banner5 bgc-f7 ms-auto maxw1850 pt100 pt60-lg pb90 pb30-lg position-relative overflow-hidden mx20-lg">
        <div class="container">
          <div class="row">
            <div class="col-md-11 wow fadeInUp" data-wow-delay="200ms">
              <div class="main-title">
                <h2 class="title text-capitalize">Let’s find the right selling <br class="d-none d-md-block"> option for you</h2>
                <p class="text">Aliquam lacinia diam quis lacus euismod</p>
              </div>
            </div>
          </div>
          <div class="row wow fadeInDown" data-wow-delay="500ms">
            <div class="col-sm-6 col-lg-4">
              <div class="iconbox-style9 default-box-shadow1 bgc-white p40 bdrs12 position-relative mb30">
                <span class="icon fz40 flaticon-security"></span>
                <h4 class="iconbox-title mt20">Property Management</h4>
                <p class="text mb-0">Nullam sollicitudin blandit eros eu <br> pretium. </p>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="iconbox-style9 default-box-shadow1 bgc-white p40 bdrs12 position-relative mb30">
                <span class="icon fz40 flaticon-keywording"></span>
                <h4 class="iconbox-title mt20">Mortgage Services</h4>
                <p class="text mb-0">Nullam sollicitudin blandit eros eu <br> pretium. </p>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="iconbox-style9 default-box-shadow1 bgc-white p40 bdrs12 position-relative mb30">
                <span class="icon fz40 flaticon-investment"></span>
                <h4 class="iconbox-title mt20">Currency Services</h4>
                <p class="text mb-0">Nullam sollicitudin blandit eros eu <br> pretium. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>