{% load static %}
<!-- Portfolio Section -->
<section class="elementor-element elementor-element-9fd308a e-flex e-con-boxed e-con e-parent e-lazyloaded animated fadeInUp">
    <div class="e-con-inner">
        <div class="wdt-listing-output-data-container wdt-direct-list-items wdt-listing-no-map">
            <div class="wdt-listing-output-data-holder">
                <div class="wdt-listings-container wdt-portfolio-module-id-8888">
                    <div class="wdt-listings-item-container">
                        
                        <!-- Portfolio Item 1 - BLOOM Hotel Melasti -->
                        <div class="wdt-listings-item-wrapper type2 wdt-column wdt-one-half first">
                            <div class="wdt-listings-item-top-section">
                                <div class="wdt-listings-item-image-gallery">
                                    <div class="wdt-listings-feature-image-holder">
                                        <img src="{% static 'images/Rectangle-3469.png' %}" title="Featured Image" alt="BLOOM Hotel Melasti" width="855" height="493">
                                    </div>
                                    <div class="wdt-listings-group-button-hover-icon">
                                        <a class="custom-button-style wdt-button wdt-listing-view-details" href="#">View Details</a>
                                    </div>
                                </div>
                                <div class="wdt-listings-item-top-section-content">
                                    <div class="wdt-listings-taxonomy-container">
                                        <ul class="wdt-listings-taxonomy-list">
                                            <li><a href="#"><span>Hotel</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="wdt-listings-item-title">
                                        <h4 class="wdt-listings--title">
                                            <a href="#">BLOOM Hotel Melasti</a>
                                        </h4>
                                    </div>
                                    <div class="wdt-listings-item-location">
                                        <span class="wdt-listings-item-location-text">
                                            <i class="fa fa-map-marker"></i> Bukit, Bali, 5 min walk to Melasti Beach
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Portfolio Item 2 - Pandawa Hills -->
                        <div class="wdt-listings-item-wrapper type2 wdt-column wdt-one-half">
                            <div class="wdt-listings-item-top-section">
                                <div class="wdt-listings-item-image-gallery">
                                    <div class="wdt-listings-feature-image-holder">
                                        <img src="{% static 'images/Rectangle-3469.png' %}" title="Featured Image" alt="Pandawa Hills" width="855" height="493">
                                    </div>
                                    <div class="wdt-listings-group-button-hover-icon">
                                        <a class="custom-button-style wdt-button wdt-listing-view-details" href="#">View Details</a>
                                    </div>
                                </div>
                                <div class="wdt-listings-item-top-section-content">
                                    <div class="wdt-listings-taxonomy-container">
                                        <ul class="wdt-listings-taxonomy-list">
                                            <li><a href="#"><span>All types</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="wdt-listings-item-title">
                                        <h4 class="wdt-listings--title">
                                            <a href="#">Pandawa Hills</a>
                                        </h4>
                                    </div>
                                    <div class="wdt-listings-item-location">
                                        <span class="wdt-listings-item-location-text">
                                            <i class="fa fa-map-marker"></i> Paris, France
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Portfolio Item 3 - Baza Kedungu -->
                        <div class="wdt-listings-item-wrapper type2 wdt-column wdt-two-five first">
                            <div class="wdt-listings-item-top-section">
                                <div class="wdt-listings-item-image-gallery">
                                    <div class="wdt-listings-feature-image-holder">
                                        <img src="{% static 'images/Rectangle-3469-alt.png' %}" title="Featured Image" alt="Baza Kedungu" width="855" height="493">
                                    </div>
                                    <div class="wdt-listings-group-button-hover-icon">
                                        <a class="custom-button-style wdt-button wdt-listing-view-details" href="#">View Details</a>
                                    </div>
                                </div>
                                <div class="wdt-listings-item-top-section-content">
                                    <div class="wdt-listings-taxonomy-container">
                                        <ul class="wdt-listings-taxonomy-list">
                                            <li><a href="#"><span>Villas</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="wdt-listings-item-title">
                                        <h4 class="wdt-listings--title">
                                            <a href="#">Baza Kedungu</a>
                                        </h4>
                                    </div>
                                    <div class="wdt-listings-item-location">
                                        <span class="wdt-listings-item-location-text">
                                            <i class="fa fa-map-marker"></i> Sydney, Australia
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Portfolio Item 4 - Monoo Villas -->
                        <div class="wdt-listings-item-wrapper type2 wdt-column wdt-one-half">
                            <div class="wdt-listings-item-top-section">
                                <div class="wdt-listings-item-image-gallery">
                                    <div class="wdt-listings-feature-image-holder">
                                        <img src="{% static 'images/Rectangle-3469-alt.png' %}" title="Featured Image" alt="Monoo Villas" width="855" height="493">
                                    </div>
                                    <div class="wdt-listings-group-button-hover-icon">
                                        <a class="custom-button-style wdt-button wdt-listing-view-details" href="#">View Details</a>
                                    </div>
                                </div>
                                <div class="wdt-listings-item-top-section-content">
                                    <div class="wdt-listings-taxonomy-container">
                                        <ul class="wdt-listings-taxonomy-list">
                                            <li><a href="#"><span>Lofts</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="wdt-listings-item-title">
                                        <h4 class="wdt-listings--title">
                                            <a href="#">Monoo Villas</a>
                                        </h4>
                                    </div>
                                    <div class="wdt-listings-item-location">
                                        <span class="wdt-listings-item-location-text">
                                            <i class="fa fa-map-marker"></i> Toronto, Canada
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>