{% load static %}
<section class="pb90 pb30-md">
      <div class="container">
        <div class="row wow fadeInUp" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
          <div class="col-lg-6 mx-auto">
            <div class="main-title2 text-center">
              <h2 class="title">Explore Apartment Types</h2>
              <p class="paragraph">Get some Inspirations from 1800+ skills</p>
            </div>
          </div>
        </div>
        <div class="row wow fadeInUp" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
          <div class="col-lg-6">
            <div class="feature-style1 mb30">
              <div class="feature-img"><img class="w-100" src="images/listings/city-listing-5.png" alt=""></div>
              <div class="feature-content">
                <div class="top-area">
                  <h6 class="title mb-1">Los Angeles</h6>
                  <p class="text">12 Properties</p>
                </div>
                <div class="bottom-area">
                  <a class="ud-btn2" href="page-property-single-v1.html">See All Cities<i class="fal fa-arrow-right-long"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-3">
            <div class="feature-style1 mb30">
              <div class="feature-img"><img class="w-100" src="images/listings/city-listing-6.png" alt=""></div>
              <div class="feature-content">
                <div class="top-area">
                  <h6 class="title mb-1">Miami</h6>
                  <p class="text">12 Properties</p>
                </div>
                <div class="bottom-area">
                  <a class="ud-btn2" href="page-property-single-v1.html">See All Cities<i class="fal fa-arrow-right-long"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-3">
            <div class="feature-style1 mb30">
              <div class="feature-img"><img class="w-100" src="images/listings/city-listing-7.png" alt=""></div>
              <div class="feature-content">
                <div class="top-area">
                  <h6 class="title mb-1">New York</h6>
                  <p class="text">12 Properties</p>
                </div>
                <div class="bottom-area">
                  <a class="ud-btn2" href="page-property-single-v1.html">See All Cities<i class="fal fa-arrow-right-long"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-3">
            <div class="feature-style1 mb30">
              <div class="feature-img"><img class="w-100" src="images/listings/city-listing-8.png" alt=""></div>
              <div class="feature-content">
                <div class="top-area">
                  <h6 class="title mb-1">Chicago</h6>
                  <p class="text">12 Properties</p>
                </div>
                <div class="bottom-area">
                  <a class="ud-btn2" href="page-property-single-v1.html">See All Cities<i class="fal fa-arrow-right-long"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-3">
            <div class="feature-style1 mb30">
              <div class="feature-img"><img class="w-100" src="images/listings/city-listing-9.png" alt=""></div>
              <div class="feature-content">
                <div class="top-area">
                  <h6 class="title mb-1">Chicago</h6>
                  <p class="text">12 Properties</p>
                </div>
                <div class="bottom-area">
                  <a class="ud-btn2" href="page-property-single-v1.html">See All Cities<i class="fal fa-arrow-right-long"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="feature-style1 mb30">
              <div class="feature-img"><img class="w-100" src="images/listings/city-listing-10.png" alt=""></div>
              <div class="feature-content">
                <div class="top-area">
                  <h6 class="title mb-1">Chicago</h6>
                  <p class="text">12 Properties</p>
                </div>
                <div class="bottom-area">
                  <a class="ud-btn2" href="page-property-single-v1.html">See All Cities<i class="fal fa-arrow-right-long"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>