{% load static %}
<!-- Property Cards Section -->
<section class="elementor-element elementor-element-20a69ce e-flex e-con-boxed e-con e-parent e-lazyloaded animated fadeInUp">
    <div class="e-con-inner">
        <div class="elementor-element elementor-element-e987afd e-con-full e-flex e-con e-child">
            <div class="elementor-element elementor-element-abcfaeb e-con-full e-flex e-con e-child">
                <div class="elementor-element elementor-element-7d4da07 e-con-full e-flex e-con e-child">
                    
                    <!-- Card 1 - Pandawa Hills -->
                    <div class="elementor-element elementor-element-d0bad20 e-con-full e-flex e-con e-child">
                        <div class="elementor-element elementor-element-ad20660 e-con-full e-flex e-con e-child">
                            <div class="elementor-element elementor-element-84ab09f e-con-full e-flex e-con e-child">
                                <img loading="lazy" decoding="async" width="8" height="8" src="{% static 'images/7222b83c351b3f0bc8493b5e1c16b456.png' %}" alt="">
                                
                                <div class="elementor-element elementor-element-57d16ba e-con-full e-flex e-con e-child">
                                    <div class="elementor-heading-title elementor-size-default">Bukit, Bali</div>
                                    
                                    <div class="elementor-element elementor-element-7807cc0 e-con-full e-flex e-con e-child">
                                        <div class="elementor-heading-title elementor-size-default">Pandawa Hills&nbsp;</div>
                                        <img loading="lazy" decoding="async" width="23" height="23" src="{% static 'images/71946164110b9bd366b2aa3b5c4d2edc.png' %}" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="elementor-element elementor-element-f15ef67 e-con-full e-flex e-con e-child">
                                <div class="elementor-element elementor-element-1070c67 e-con-full e-flex e-con e-child">
                                    <div class="elementor-element elementor-element-442b874 e-con-full e-flex e-con e-child">
                                        <div class="elementor-heading-title elementor-size-default">Any types and sizes</div>
                                    </div>
                                    <div class="elementor-element elementor-element-9a08836 e-con-full e-flex e-con e-child">
                                        <div class="elementor-heading-title elementor-size-default">From $125,000</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Moono Villas -->
                        <div class="elementor-element elementor-element-05d3320 e-con-full e-flex e-con e-child">
                            <div class="elementor-element elementor-element-55356d9 e-con-full e-flex e-con e-child">
                                <div class="elementor-element elementor-element-e8bb057 e-con-full e-flex e-con e-child">
                                    <div class="elementor-element elementor-element-fd3f8c8 e-con-full e-flex e-con e-child">
                                        <div class="elementor-heading-title elementor-size-default">Villas</div>
                                    </div>
                                    <div class="elementor-element elementor-element-e66845a e-con-full e-flex e-con e-child">
                                        <div class="elementor-heading-title elementor-size-default">From $140,000</div>
                                    </div>
                                </div>
                            </div>

                            <div class="elementor-element elementor-element-6bc7eea e-con-full e-flex e-con e-child">
                                <img loading="lazy" decoding="async" width="8" height="8" src="{% static 'images/2c1278185454c8e916b3dfeb514d77cc.png' %}" alt="">
                                
                                <div class="elementor-element elementor-element-bd67adb e-con-full e-flex e-con e-child">
                                    <div class="elementor-heading-title elementor-size-default">Ubud, Bali</div>
                                    
                                    <div class="elementor-element elementor-element-aabd521 e-con-full e-flex e-con e-child">
                                        <div class="elementor-heading-title elementor-size-default">Moono Villas</div>
                                        <img loading="lazy" decoding="async" width="23" height="23" src="{% static 'images/44d8c84c181c63f4d774161874dd08b5.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Card 2 - Baza Kedungu -->
                    <div class="elementor-element elementor-element-fd321a0 e-con-full e-flex e-con e-child">
                        <div class="elementor-element elementor-element-5effb40 e-con-full e-flex e-con e-child">
                            <div class="elementor-element elementor-element-24221f0 e-con-full e-flex e-con e-child">
                                <div class="elementor-element elementor-element-33b36e9 e-con-full e-flex e-con e-child">
                                    <div class="elementor-element elementor-element-ff7499d e-con-full e-flex e-con e-child">
                                        <div class="elementor-heading-title elementor-size-default">Any types and sizes</div>
                                    </div>
                                    <div class="elementor-element elementor-element-2a2ad6a e-con-full e-flex e-con e-child">
                                        <div class="elementor-heading-title elementor-size-default">From $85,50</div>
                                    </div>
                                </div>
                            </div>

                            <div class="elementor-element elementor-element-762483b e-con-full e-flex e-con e-child">
                                <img loading="lazy" decoding="async" width="8" height="8" src="{% static 'images/c6d3434913ffb5cc62e264043685abdf.png' %}" alt="">
                                
                                <div class="elementor-element elementor-element-085ef08 e-con-full e-flex e-con e-child">
                                    <div class="elementor-heading-title elementor-size-default">Bukit, Bali</div>
                                    
                                    <div class="elementor-element elementor-element-db53b9c e-con-full e-flex e-con e-child">
                                        <div class="elementor-heading-title elementor-size-default">Baza Kedungu</div>
                                        <img loading="lazy" decoding="async" width="23" height="23" src="{% static 'images/15f89ded7dd489042a2bc5f2546f9f0a.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Satu Melasti Village -->
                        <div class="elementor-element elementor-element-5426f3d e-con-full e-flex e-con e-child">
                            <div class="elementor-element elementor-element-5cc5b91 e-con-full e-flex e-con e-child">
                                <img loading="lazy" decoding="async" width="8" height="8" src="{% static 'images/f70a52ccc54f1e69eab5a73d1a839079.png' %}" alt="">
                                
                                <div class="elementor-element elementor-element-b8abcd0 e-con-full e-flex e-con e-child">
                                    <div class="elementor-heading-title elementor-size-default">Bukit, Bali</div>
                                    
                                    <div class="elementor-element elementor-element-253179d e-con-full e-flex e-con e-child">
                                        <div class="elementor-heading-title elementor-size-default">Satu Melasti Village</div>
                                        <img loading="lazy" decoding="async" width="23" height="23" src="{% static 'images/997de6de2559a5e8465d69f7f72cfd82.png' %}" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="elementor-element elementor-element-0aca07b e-con-full e-flex e-con e-child">
                                <div class="elementor-element elementor-element-125cf42 e-con-full e-flex e-con e-child">
                                    <div class="elementor-element elementor-element-f572b9d e-con-full e-flex e-con e-child">
                                        <div class="elementor-heading-title elementor-size-default">Villas</div>
                                    </div>
                                    <div class="elementor-element elementor-element-a01b6f3 e-con-full e-flex e-con e-child">
                                        <div class="elementor-heading-title elementor-size-default">From $250,000</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>