{% load static %}
    <!-- Our Testimonials -->
    <section class="pb100 pb50-md bgc-thm-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="00ms">
            <div class="main-title">
              <h2 class="title">People Love Living with Realton</h2>
              <p class="paragraph">Aliquam lacinia diam quis lacus euismod</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="testimonial-slider navi_pagi_top_right slider-3-grid owl-carousel owl-theme wow fadeInUp" data-wow-delay="300ms">
              <div class="item">
                <div class="testimonial-style1 position-relative">
                  <div class="testimonial-content">
                    <h5 class="title">Great Work</h5>
                    <span class="icon fas fa-quote-left"></span>
                    <p class="text">“Amazing design, easy to customize and a design quality superlative account on its cloud platform for the optimized performance. And we didn’t on our original designs.”</p>
                    <div class="testimonial-review">
                      <a class="me-1" href=""><i class="fas fa-star"></i></a>
                      <a class="me-1" href=""><i class="fas fa-star"></i></a>
                      <a class="me-1" href=""><i class="fas fa-star"></i></a>
                      <a class="me-1" href=""><i class="fas fa-star"></i></a>
                      <a href=""><i class="fas fa-star"></i></a>
                    </div>
                  </div>
                  <div class="thumb d-flex align-items-center">
                    <div class="flex-shrink-0">
                      <img class="wa" src="images/testimonials/testimonial-1.png" alt="">
                    </div>
                    <div class="flex-grow-1 ms-3">
                      <h6 class="mb-0">Leslie Alexander</h6>
                      <p class="mb-0">Nintendo</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-style1 position-relative">
                  <div class="testimonial-content">
                    <h5 class="title">Great Work</h5>
                    <span class="icon fas fa-quote-left"></span>
                    <p class="text">“Amazing design, easy to customize and a design quality superlative account on its cloud platform for the optimized performance. And we didn’t on our original designs.”</p>
                    <div class="testimonial-review">
                      <a class="me-1" href=""><i class="fas fa-star"></i></a>
                      <a class="me-1" href=""><i class="fas fa-star"></i></a>
                      <a class="me-1" href=""><i class="fas fa-star"></i></a>
                      <a class="me-1" href=""><i class="fas fa-star"></i></a>
                      <a href=""><i class="fas fa-star"></i></a>
                    </div>
                  </div>
                  <div class="thumb d-flex align-items-center">
                    <div class="flex-shrink-0">
                      <img class="wa" src="images/testimonials/testimonial-2.png" alt="">
                    </div>
                    <div class="flex-grow-1 ms-3">
                      <h6 class="mb-0">Floyd Miles</h6>
                      <p class="mb-0">Bank of America</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-style1 position-relative">
                  <div class="testimonial-content">
                    <h5 class="title">Great Work</h5>
                    <span class="icon fas fa-quote-left"></span>
                    <p class="text">“Amazing design, easy to customize and a design quality superlative account on its cloud platform for the optimized performance. And we didn’t on our original designs.”</p>
                    <div class="testimonial-review">
                      <a class="me-1" href=""><i class="fas fa-star"></i></a>
                      <a class="me-1" href=""><i class="fas fa-star"></i></a>
                      <a class="me-1" href=""><i class="fas fa-star"></i></a>
                      <a class="me-1" href=""><i class="fas fa-star"></i></a>
                      <a href=""><i class="fas fa-star"></i></a>
                    </div>
                  </div>
                  <div class="thumb d-flex align-items-center">
                    <div class="flex-shrink-0">
                      <img class="wa" src="images/testimonials/testimonial-3.png" alt="">
                    </div>
                    <div class="flex-grow-1 ms-3">
                      <h6 class="mb-0">Dianne Russell</h6>
                      <p class="mb-0">Facebook</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-style1 position-relative">
                  <div class="testimonial-content">
                    <h5 class="title">Great Work</h5>
                    <span class="icon fas fa-quote-left"></span>
                    <p class="text">“Amazing design, easy to customize and a design quality superlative account on its cloud platform for the optimized performance. And we didn’t on our original designs.”</p>
                    <div class="testimonial-review">
                      <a class="me-1" href=""><i class="fas fa-star"></i></a>
                      <a class="me-1" href=""><i class="fas fa-star"></i></a>
                      <a class="me-1" href=""><i class="fas fa-star"></i></a>
                      <a class="me-1" href=""><i class="fas fa-star"></i></a>
                      <a href=""><i class="fas fa-star"></i></a>
                    </div>
                  </div>
                  <div class="thumb d-flex align-items-center">
                    <div class="flex-shrink-0">
                      <img class="wa" src="images/testimonials/testimonial-3.png" alt="">
                    </div>
                    <div class="flex-grow-1 ms-3">
                      <h6 class="mb-0">Dianne Russell</h6>
                      <p class="mb-0">Facebook</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-style1 position-relative">
                  <div class="testimonial-content">
                    <h5 class="title">Great Work</h5>
                    <span class="icon fas fa-quote-left"></span>
                    <p class="text">“Amazing design, easy to customize and a design quality superlative account on its cloud platform for the optimized performance. And we didn’t on our original designs.”</p>
                    <div class="testimonial-review">
                      <a class="me-1" href=""><i class="fas fa-star"></i></a>
                      <a class="me-1" href=""><i class="fas fa-star"></i></a>
                      <a class="me-1" href=""><i class="fas fa-star"></i></a>
                      <a class="me-1" href=""><i class="fas fa-star"></i></a>
                      <a href=""><i class="fas fa-star"></i></a>
                    </div>
                  </div>
                  <div class="thumb d-flex align-items-center">
                    <div class="flex-shrink-0">
                      <img class="wa" src="images/testimonials/testimonial-3.png" alt="">
                    </div>
                    <div class="flex-grow-1 ms-3">
                      <h6 class="mb-0">Dianne Russell</h6>
                      <p class="mb-0">Facebook</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>