{% load static %}
    <!-- Pricing Section Area -->
    <section class="our-pricing pb90 pt-0">
      <div class="container">
        <div class="row wow fadeInUp" data-wow-delay="100ms">
          <div class="col-lg-6 offset-lg-3">
            <div class="main-title text-center mb30">
              <h2>Membership Plans</h2>
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </div>
        </div>
        <div class="row wow fadeInUp" data-wow-delay="200ms">
          <div class="col-lg-12">
            <div class="pricing_packages_top d-flex align-items-center justify-content-center mb60">
              <div class="toggle-btn">
                <span class="pricing_save1 ff-heading">Billed Monthly</span>
                <label class="switch">
                  <input type="checkbox" id="checbox" onclick="check()"/>
                  <span class="pricing_table_switch_slide round"></span>
                </label>
                <span class="pricing_save2 ff-heading">Billed Yearly</span>
                <span class="pricing_save3">Save 20%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row wow fadeInUp" data-wow-delay="300ms">
          <div class="col-md-6 col-xl-4">
            <div class="pricing_packages">
              <div class="heading mb60">
                <h4 class="package_title">Basic</h4>
                <h1 class="text2">Free</h1>
                <h1 class="text1">Free</h1>
                <p class="text">per month</p>
                <img class="price-icon" src="images/icon/pricing-icon-2.svg" alt="">
              </div>
              <div class="details">
                <p class="text mb35">Standard listing submission, active for 30 dayss</p>
                <div class="list-style1 mb40">
                  <ul>
                    <li><i class="far fa-check text-white bgc-dark fz15"></i>All Operating Supported</li>
                    <li><i class="far fa-check text-white bgc-dark fz15"></i>Great Interface</li>
                    <li><i class="far fa-check text-white bgc-dark fz15"></i>Allows encryption</li>
                    <li><i class="far fa-check text-white bgc-dark fz15"></i>Face recognized system</li>
                    <li><i class="far fa-check text-white bgc-dark fz15"></i>24/7 Full support</li>
                  </ul>
                </div>
                <div class="d-grid">
                  <a href="" class="ud-btn btn-thm-border text-thm">Join<i class="fal fa-arrow-right-long"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-4">
            <div class="pricing_packages active">
              <div class="heading mb60">
                <h4 class="package_title">Professional</h4>
                <h1 class="text2">$199.95</h1>
                <h1 class="text1">$599.95</h1>
                <p class="text">per month</p>
                <img class="price-icon" src="images/icon/pricing-icon-1.svg" alt="">
              </div>
              <div class="details">
                <p class="text mb35">Standard listing submission, active for 30 dayss</p>
                <div class="list-style1 mb40">
                  <ul>
                    <li><i class="far fa-check text-white bgc-dark fz15"></i>All Operating Supported</li>
                    <li><i class="far fa-check text-white bgc-dark fz15"></i>Great Interface</li>
                    <li><i class="far fa-check text-white bgc-dark fz15"></i>Allows encryption</li>
                    <li><i class="far fa-check text-white bgc-dark fz15"></i>Face recognized system</li>
                    <li><i class="far fa-check text-white bgc-dark fz15"></i>24/7 Full support</li>
                  </ul>
                </div>
                <div class="d-grid">
                  <a href="" class="ud-btn btn-thm-border text-thm">Join<i class="fal fa-arrow-right-long"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-4">
            <div class="pricing_packages">
              <div class="heading mb60">
                <h4 class="package_title">Business</h4>
                <h1 class="text2">$399.95</h1>
                <h1 class="text1">$999.95</h1>
                <p class="text">per month</p>
                <img class="price-icon" src="images/icon/pricing-icon-3.svg" alt="">
              </div>
              <div class="details">
                <p class="text mb35">Standard listing submission, active for 30 dayss</p>
                <div class="list-style1 mb40">
                  <ul>
                    <li><i class="far fa-check text-white bgc-dark fz15"></i>All Operating Supported</li>
                    <li><i class="far fa-check text-white bgc-dark fz15"></i>Great Interface</li>
                    <li><i class="far fa-check text-white bgc-dark fz15"></i>Allows encryption</li>
                    <li><i class="far fa-check text-white bgc-dark fz15"></i>Face recognized system</li>
                    <li><i class="far fa-check text-white bgc-dark fz15"></i>24/7 Full support</li>
                  </ul>
                </div>
                <div class="d-grid">
                  <a href="" class="ud-btn btn-thm-border text-thm">Join<i class="fal fa-arrow-right-long"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>