.social-button {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: linear-gradient(90deg, #F0987D 0%, #CE7F63 16.83%, #FFBEA4 28.85%, #CF795F 60.1%, #FFAC93 69.71%, #D7785B 83.65%, #EA9278 97.12%);
    z-index: 9999;
}

.social-button svg {
    color: #000000;
}
/* Мобильные (до 767px) */
@media (max-width: 767px) {
    .social-button {
        right: 20px;
        bottom: 20px;
        width: 50px;
        height: 50px;
        z-index: 99999;
    }
}